var/www/signup.academy-network.pp.ua/assets/css/bootstrap.css linguist-vendored
var/www/signup.academy-network.pp.ua/assets/css/academy.css linguist-vendored
var/www/signup.academy-network.pp.ua/vendor/** linguist-vendored
