body{margin: 0px 0px 0px 0px; padding:0px; height:100%; min-height:1000px; font-weight: normal; font-family: Montserrat,sans-serif;} /* background:#e9ecee; */
a, .link{color:#3a9bfe; color:#000; text-decoration:underline; -moz-transition: color 0.1s 0.01s ease; -o-transition: color 0.1s 0.01s ease; -webkit-transition: color 0.1s 0.01s ease;cursor:pointer;}
a:hover, .link:hover{color:#398ce2;  color:#000;text-decoration:none; cursor:pointer;}
a:visited { text-decoration:; }
a:active { text-decoration:; }

@font-face{font-display:auto;font-family:Montserrat;font-style:normal;font-weight:300;src:url(/_/fonts/Montserrat-Light.woff2) format("woff2"),url(/_/fonts/Montserrat-Light.woff) format("woff"),url(/_/fonts/Montserrat-Light.ttf) format("truetype")}
@font-face{font-display:auto;font-family:Montserrat;font-style:normal;font-weight:400;src:url(/_/fonts/Montserrat-Regular.woff2) format("woff2"),url(/_/fonts/Montserrat-Regular.woff) format("woff"),url(/_/fonts/Montserrat-Regular.ttf) format("truetype")}
@font-face{font-display:auto;font-family:Montserrat;font-style:normal;font-weight:500;src:url(/_/fonts/Montserrat-Medium.woff2) format("woff2"),url(/_/fonts/Montserrat-Medium.woff) format("woff"),url(/_/fonts/Montserrat-Medium.ttf) format("truetype")}
@font-face{font-display:auto;font-family:Montserrat;font-style:normal;font-weight:700;src:url(/_/fonts/Montserrat-SemiBold.woff2) format("woff2"),url(/_/fonts/Montserrat-SemiBold.woff) format("woff"),url(/_/fonts/Montserrat-SemiBold.ttf) format("truetype")}

::-webkit-scrollbar {  width: 10px;  height: 10px;}
::-webkit-scrollbar-track-piece {  background-color: #f9f9f9;}
::-webkit-scrollbar-thumb {  background-color: #c6c6c6; }

h1{font-size:32px; font-weight: 600;  color:#000;}
h2{font-size:24px; font-weight: 700; color:#000;}
h3{font-size:22px; font-weight: 700; color:#000;} 

table{table-layout: fixed; max-width:100%;}
table tr td{word-wrap:break-word;}
ul{margin:0px 0px 0px 0px; padding:0px; }/*list-style-position: outside;*/
ol{margin:0px 0px 0px 0px; padding:0px; } /*list-style-position: inside;*/
ul li {list-style:none; background:url(/img/after.png) left center no-repeat; padding:0px 0px 0px 40px; margin:10px 0px 10px 0px; line-height:20px; }
p{margin:10px 0px;}
ol li{line-height:20px; margin:10px 0px 10px 0px;}
img{max-width:100%;}
hr{   width: 100%;    height: 1px; background:#e5e5e5;  }

.clear{height:0px; width:100%; clear:both;}
.spacer_half{height:5px; width:100%;}
.spacer{height:10px; width:100%;}
.spacer_3{height:30px; width:100%;}
.spacer_5{height:50px; width:100%;}
.spacer_7{height:70px; width:100%;}
.center{text-align:center;}
.answer{display:none;}
.bold{font-weight:bold;}
.highlight{color:#cc3333;}
.unactive_text{color:#;}
.red_text{color:#dc6565;}
.green_text{color:#a9d637;}
.gray_text{color:#555;}
.clarification{font-size:12px; color:#777;}
 
.page{ width:100%; background:# ;  max-width: 1200px;  margin:0px auto 0px auto; position:relative;  } 

.faq_content{display:none;}
.screen_size{position:absolute; top:0px; left:0px; background:#fff;}
.head_bg_callback_form_text{color:#777; font-weight:300; font-size:16px; text-align:center;  }
.no_bg{background:none !important;text-decoration: none; }
.no_bg img {    border: none !important;    outline: none !important;    background: none !important;}
.head_content_icons{float:right; margin:40px 21px; display: flex; align-items: center;}
.head_social{display: flex; height: ; margin:0px 30px;}
.head_search{position:relative;  display: flex;	width:114px;	width:70px;    -webkit-box-align: center;    -ms-flex-align: center;    align-items: center;    border-left: 2px solid #8d8e91;    padding: 0 0 0 4rem;}
.head_search_form{position:absolute; right:100%;  overflow: hidden; width:0px; border:0px solid red;}
.head_search_form input{outline:0px; border:0px; width: 300px; font-size:16px; line-height:16px; font-weight:500; background-color: #112d4e; height: 6rem; color:#fff; border-bottom:2px solid #3580d9;}

.head_content_icons a {display: flex;    fill: #fff;}
.head_content_icons a:hover { fill: #2f71bf;}
.head_lang{text-align:center; align-items: center; color:#fff; background:#2f71bf; font-size:13px; font-weight:700; line-height:64px; width:64px; height:64px; cursor:pointer;} 

.menu_mobile {padding:0px;}
.menu_mobile li {list-style:none; background:none;  margin: 0px; margin: 2rem 0;} 
.menu_mobile li a{color: #000; text-transform:uppercase;   font-size: 16px;  text-decoration:none;  font-weight: 600; }
.menu_mobile_title h2{ color:#112d4e;  line-height:30px; font-weight:600; font-size:18px;  padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; text-transform:uppercase;}
	
	
.head{height: ; background:#102d4d; color:#fff;  margin:0 auto;} /*max-width:1200px;*/
	.head_content{height: ; }
	.head_content img.logo{float:left; height:93px;  margin:0px 25px 16px 30px;}
	.head_content_text{text-align:left; padding:30px 0px; }
	.head_content h2{ color:#fff;   font-weight:700; font-size:24px;  padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; text-transform:uppercase;}
	.head_content h3{ color:#282828; font-size:16px; text-transform:; margin:5px 0px 0px 0px; padding:0px;}
	.head_content_contacts{text-align:right; margin:0px 0px 0px 0px;}
		.head_content_contacts_phone{ color:#386aa0; font-size:18px; font-weight:;  margin:0px 0px 10px 0px;}
		.head_content_contacts_email{ font-size:13px; margin:3px 0px 0px 0px;  }
	
	.head_content_social{margin:30px 0px 0px 0px;}
	
	 
			
		.head_adress{text-align:left; float:left; background:url(/img/map.png) 0px 13px no-repeat; background-size:25px; padding:0px 0px 0px 35px;}
		.head_contacts{text-align:left; float:left; background:url(/img/phone.png) 0px 13px no-repeat; background-size:25px; padding:0px 0px 0px 35px;}
		
		.head_small_title{color:#386aa0; font-size:16px; font-weight:400; margin:0px 0px 10px 0px;}
		.head_small_text{color:#282828; font-size:14px;   font-weight:400; margin:0px 0px 3px 0px;}
		.head_small_text img{width:30px; border-radius:30px; filter:grayscale(15%);}
		.head_small_text img:hover{filter:grayscale(0%);}
		.head_small_text a:link{color:#282828; text-decoration:none; background-image: linear-gradient(to top,rgba(28,28,28,.3) 1px,transparent 1px);}
		.head_small_text a:hover{color:# ; background:none;}
	
	.menu_contacts{float:right; text-align:right;}
	.menu_contacts_text{ color: #8d8e91; font-weight: 500; font-size:13px;}
	.menu_contacts_number{ letter-spacing: .5px; font-weight:700; color:#000; font-size:28px;}
	.menu_contacts_number a{ letter-spacing: .5px;  text-decoration:none; font-weight:700; color:#000; font-size:28px;}
	
	
	
.head-navigation-arrow{width: 6px; height: 9px; margin:0px 0px 0px 7px;}


	.menu{background:#ecf3fb; height:87px; max-width: ; margin:0 auto; } /*border-bottom:1px dotted #006699; 1250px*/
		.menu_content{margin-left:0px; padding:0px 20px; text-align:;}
			.menu_desktop{width:;}
					.menu_content ul.menu_desktop {vertical-align:top; display:flex; margin:0px; padding:0px; list-style:none; justify-content: center; }
					.menu_content ul.menu_desktop li {background:none;display:flex;margin:0px; padding:0px; list-style:none; 	 position: relative;  -webkit-transition: all 0.2s;  -moz-transition: all 0.2s; -ms-transition: all 0.2s; -o-transition: all 0.2s;transition: all 0.2s;} 
					.menu_content ul.menu_desktop li:hover { background: # ; }
					.menu_content ul.menu_desktop li:hover a{ color:#0058be; }
					.menu_content ul.menu_desktop li:hover .head-navigation-arrow{ fill:#0058be;   transform: rotate(180deg); }
					.menu_content ul.menu_desktop li a:hover{}
					.menu_content ul.menu_desktop li a{ line-height:87px; text-decoration:none; display:block;  padding:0px 30px;color: #0e1132;    font-size: 13px;    font-weight: 700; text-transform:uppercase;} 
					.menu_content ul.menu_desktop li.vstup{ background:#cc3333;} 
					.menu_content ul.menu_desktop li.vstup:hover{ background:#990000;} 
					
					.menu_content ul.menu_desktop li ul:before{content:"";display:block;position:absolute;bottom:100%;left:4rem;border:8px solid transparent;border-bottom-color:#fff}
					.menu_content ul.menu_desktop li ul { z-index:10; border:0px;  padding: 20px 10px; background: #fff;  position: absolute; top: 70px; left: -20px; width: 280px;display:none; opacity: 0; visibility: hidden; -webkit-transiton: opacity 0.2s;  -moz-transition: opacity 0.2s;-ms-transition: opacity 0.2s;-o-transition: opacity 0.2s;-transition: opacity 0.2s; 					box-shadow: 0 4px 16px rgba(17,45,78,.1);						background-color: #fff;						padding: 2rem 2rem;						font-size: 12px;						min-width: 300px;					}
					.menu_content ul.menu_desktop li ul li {text-align:left; border:0px solid #fff !important; }
					.menu_content ul.menu_desktop li ul li a{width:270px; text-transform:none; line-height:20px; font-weight:400; letter-spacing: 1px; font-size:13px;  padding:12px 20px 7px 20px; text-shadow:none; color:#000 !important;  text-decoration:none;  display:block;}
					.menu_content ul.menu_desktop li ul li a:hover{ color:#0058be !important; }
					.menu_content ul.menu_desktop li ul li:hover{ background: #; }
					
					.menu_content ul.menu_desktop li:hover ul {  display: block;  opacity: 1;  visibility: visible; } 
					.menu_current{background:#ff6f5b;}
		
		
			.menu_item{display:inline-block; height:50px; line-height:50px; color:#fff; padding:0px 15px; }
			.menu_item:hover{border-bottom:3px solid #fff; /*background-color:#336699 !important; color:#fff;*/ cursor:pointer;}
			
			.menu_home{vertical-align:top; display:inline-block; height:50px; background:url(/img/home.png?1) center 12px no-repeat; padding:0px 20px; margin:0px 0px 0px 10px;	}
			.menu_home:hover{ cursor:pointer;} /*background:url(/img/home.png) center 16px no-repeat; padding:0px 25px;*/
			.menu_current{border-bottom:3px solid #fff; }
	
	
	
.owl-carousel .owl-dots{text-align:left; padding:0px 30px; position:absolute; bottom:20px;}
	
/* SEARCH */	
.search_item{    border-bottom: 2px solid #8d8e91;padding-bottom: 3rem; margin-bottom: 5rem;}
.search_title h2{margin-bottom: 3rem;}
.search_title a{font-size:20px; font-weight:600; line-height:26px; color:#000; text-decoration:none;}
.search_title p{font-size: 13px;    line-height: 1.54;}

/* SLIDER */	
.slider_img{height:100%; min-height:500px; z-index:1; padding:40px;  cursor:;} 

.slider_sticker{ padding:0px 20px;
    background-color: #2f71bf;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
	line-height:33px;
	height:33px;
    letter-spacing: 2px;
	position:absolute; top:0px; left:15px;}
	
.slider_main_sticker{ left:30px;}

.slider_title h2 a{ color:#000; text-decoration:none; font-weight:700; font-size: 56px;    line-height: 1.125;}


.slider_button{background:#112d4e; font-weight:700; color:#fff; float:left; padding:0px 35px; font-size: 13px; border:0px; height:56px; line-height:56px; cursor:pointer; text-align:center; width: ;  }
.slider_button:hover{background:#2f71bf; color:#fff;}
.slider_button:active {    background-color: #2f71bf;}
.slider_button:hover {background-color: #0087bd;}
	 
	
.slider_sub_title{ cursor:pointer; font-size:13px; font-weight:700; border-bottom:2px solid #000; height:60px;}	
	 



.xs_nav_tabs{ position:relative;  margin:0px 15px; font-size:14px; font-weight:600; cursor:pointer;  }	 
	.xs_nav_active{color:#fff; display:flex; padding:16px; background:#2f71bf; }
	.xs_nav_unactive{color:#8d8e91; padding: 16px; display:none; font-size:12px; text-transform:uppercase;}
	.xs_nav{background:# ;}
.xs_nav_tabs_arrow{	right: 15px;		top: 24px;	content: "";		display: block;		background-image: url(/img/tab_arrow.svg);	fill:#fff;	width: 8px;		height: 5px;		position: absolute;				margin: auto;		-webkit-transition: -webkit-transform .3s;		transition: -webkit-transform .3s;		transition: transform .3s;		transition: transform .3s,-webkit-transform .3s;	}



.index_tab{float:left; margin:0px 30px; font-size:24px; font-weight:700; cursor:pointer; padding-bottom:20px; border-bottom:2px solid #000; }	 
.index_tab_unselected{color:#8d8e91; border-bottom:2px solid #fff;}	 


#index_news{ }
#index_galleries{display:none;}
#index_videos{display:none;}

.index_main_news_img{position:relative; overflow:hidden; max-height:140px; overflow:hidden;}

.index_main_news_img_play{cursor:pointer; width:48px; height:48px; background:url(/img/youtube_play.png); margin:-24px 0px 0px -24px; position:absolute; top:50%; left:50%;}

.index_main_news_date { font-weight:500; padding:0px 0px  10px 0px;  font-size: 12px;    line-height: 1.84;    color: #8d8e91; }
.news_date { font-weight:500; padding:15px 0px  10px 0px;  font-size: 12px;    line-height: 1.84;    color: #8d8e91; }
.index_main_news_title {margin-right:40px;}
.index_main_news_title h3 a{font-size: 20px; color:#fff; font-weight:700; text-decoration:none;}
.index_news_title{ font-size: 13px; color:#000; font-weight:700;}
.index_news_title a{  color:#000; text-decoration:none;}
 		
	
.index_about_link{cursor:pointer; font-size:34px; float:left; line-height:36px; font-weight: 700;  padding-bottom: 10px;    border-bottom: 2px solid #000;}	 
.index_about_link_unactive{border:0px; color:#8d8e91;  border-bottom: 2px solid #fff;}	 
	
	.index_about_block{background:#f4f6f9;}
	.index_about_block_title{    font-size: 40px; font-weight:700; color:#000;}
	.index_about_block_link{ margin-right:25px; margin-bottom: 1rem; color: #112d4e; height:40px; line-height:40px; font-weight:700;   border-radius:24px; background:#fff; padding:0px 15px; font-size:13px;}
	.index_about_block_link_selected{  cursor:pointer; color:#fff; background-color: #112d4e;}
	.index_about_block_link:hover{  cursor:pointer; color:#fff; background-color: #112d4e;}
	.index_about_block_content{padding:40px 60px;}
	
	.index_about_block_text{color:#000;}
	.index_about_block_button{float:left; cursor:pointer; border:0px solid #112d4e; box-shadow: inset 0 0 0 2px #112d4e; height:56px; line-height:56px; padding:0px 32px; color: #112d4e;}
	.index_about_block_button:hover{color: #0087bd;     box-shadow: inset 0 0 0 2px #0087bd;}
	.index_about_block_button .icon{fill: #112d4e ; }
	.index_about_block_button:hover .icon{fill: #0087bd ; }
	
	
	.index_about_heroes_img img{width:100%;}
	.index_about_heroes_title{font-size:20px; font-weight:700; }
	.index_about_heroes_title a{text-decoration:none; color:#333;}
	
	
	
	.links_bg{background:#2f71bf; padding:100px 0px;}
	.links_title{font-size:40px; font-weight:700; color:#fff;}
	.link_title{height:130px; font-size:13px; font-weight:700; color:#fff;}
	.link_title a{ color:#fff; text-decoration:none;}
	.links_link{width:48px; height:48px;  background-color: #fff; align-items: center; display:flex;}
	.links_link .arrow {margin:0 auto;
		width: 28px;display:flex;align-items: center;
		height: 28px;
	}
	
	.links_controls{float:right;}
	.owl-nav{float:right; position: absolute;
    top: -145px;
    right: -15px;}
	
	
	.links_controls .slider-btn, .owl-prev, .owl-next{    width: 70px;
    height: 70px;
    background-color: #000 !important; border-radius:0 !important;
    border: none;
    cursor: pointer; margin:0px 3px;}
	
	.owl-prev .arrow, .owl-next .arrow {
    width: 22px; 
    height: 22px;
    fill: #fff;
}

	
	.links_controls .slider-btn .arrow {
    width: 22px; 
    height: 22px;
    fill: #fff;
}
	
	.partners_logos img{margin:0 auto; width:48px !important; height:48px !important;}
	.partners_logos a{text-decoration:none; }
	.partners_hr{width:55px;height: 2px;  margin:0 auto;  background-color: #8d8e91;}
	.partners_title{text-align:center; font-weight:700; color:#000; font-size:13px;}
	
	.link-old-version{line-height:32px; font-weight:700; font-size:12px;}
	.link-old-version:hover{color:#2f71bf; }
	
	.footer_bg{background:#102d4d; color: #fff;  min-height:100px; border-top:0px solid #386aa0;}
			.footer_bg a{color: #fff;    text-decoration: none;     }
			.footer_bg a:hover{background:none;}
		.footer_bg a {display: flex;    fill: #fff;}
		.footer_bg a:hover { fill: #2f71bf;}
	.footer_logo{height:90px; float:left;margin-right:10px;} 
	.footer_title{ font-weight:700; text-transform:uppercase;} 
	
	  .footer_rights{font-size: 11px;    line-height: 1.45;    color: #8d8e91;}
		
		
	
		.footer_menu_title{font-size:17px; font-weight:700; color:#fff;}
		.footer_menu a{  font-weight:500; font-size:12px; line-height:25px; color:#fff;}
		.footer_menu a:hover{text-decoration:underline;}
		
	 
	
	 
	
.page_title{padding:0px 15px;}
	.page_title {margin:0px 0px;}		
	.page_title h1{  margin:0px 0px 30px 0px;  text-align:; font-size:32px; font-weight:600;}		 

.index_title h2{padding:0px 30px;  font-size:30px; line-height:60px; color:#323c48; text-transform:uppercase;}

	
	.content_title{margin:0px 0px 10px 0px;  } /* letter-spacing: 0.06em; text-transform: uppercase;}*/
	.content_title h1{margin:0px;}
	.content_hr{  background: #8db7c2;  width: 80px;    height: 4px;     margin: 30px 0px 30px 0px;}
	
	
	.content_text{overflow-x:auto; overflow-y:hidden; max-width:100%;   margin:0px 0px;  font-size:18px; font-weight: 400; line-height:22px;  color:#000 !important; }
	.content_text a{text-decoration:none; color: #2f71bf;}
	.content_text a:hover{text-decoration:underline;}
		.content_text p{margin:15px 0px 15px 0px; text-indent:;}
		.content_text img{max-width:100%; height:auto !important;}
		.content_text ul{ padding: 6rem;  margin:20px 0px 40px 0px;  background-color: #f4f6f9}
		.content_text ul li{ font-size: 18px;    line-height: 1.56;   padding-left: 3rem;	    position: relative; background:none;}/* line-height:24px !important; margin:5px 0px 5px 10px !important; padding:0px 0px 0px 15px !important;*/
		.content_text ul li:before {
			content: "";
			width: 6px;
			height: 6px;
			margin-left: -6px;
			-ms-flex-negative: 0;
			flex-shrink: 0;
			background-color: #2f71bf;
			border-radius: 50%;
			display: block;
			position: absolute;
			top: .78em;
			left: 1rem;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
		}
		.content_text ul li+li {
			margin-top: 3rem;
		}
		
		
		.content_text ol li{ line-height:24px !important; margin:5px 0px 5px 10px !important; padding:0px 0px 0px 15px !important;}
		.content_text strong{ color:#;   } /*515151*/
		.content_text table {width:100% !important; max-width:100% !important;}
		.content_text table tr td{border:1px solid #ccc; padding:5px 15px;}
		.content_text table tr td p{text-indent:0px;}
		.content_text_main_img{width:100%; height:300px;}
		
		
.content_text span{font-size:13pt !important; color:# !important;   }
.content_text span .link{color:#3a9bfe !important;}
.content_text span .link:hover{color:#398ce2 !important;}
.content_text img{max-width:100% !important; height:auto !important;}
 
.content_text .youtube-embed-wrapper{margin:0px 0px 20px 0px !important;}
.content_text table tr>th{background:#ebebeb;  text-align:center; padding:5px; border:1px solid #ccc;}
.content_text table tr>td{padding:3px; text-align:left; border:1px solid #ccc;}
.content_text table tr>td p, .content_text table tr>th p{padding:5px;}
.content_text table tr>td+TD{text-align:left;}
.content_text table tr:hover{background:#feffe6;}
  
 
 
 
 .left_navigation a{color:#8d8e91; padding:16px 0px 8px 0px; font-size: 13px;font-weight: 600; text-decoration:none; display:block;line-height: 20.02px; letter-spacing:1px; text-transform: uppercase;}
 .left_navigation a:hover{color:#000;  }
 .left_navigation_current{font-size:20px !important; text-transform:none; color:#000 !important; font-weight:700 !important;    padding-bottom: 10px !important; text-transform: none !important; border-bottom: 2px solid #000;}
 
 
 
	.sub_pages_rel_exit {color:#000; font-weight:600; font-size:13px; text-decoration:none; margin-bottom:2rem;}
	.sub_pages_rel_exit svg{   margin-right: 1.5rem; margin-left: -1.7rem; margin-top:5px; fill: currentColor;}
	.sub_pages_rel_exit span{    }
	.sub_pages {font-size: ; margin:15px 0px 20px 0px;}
	.sub_pages a{text-decoration:none; font-size:18px; color: #000;  font-weight:600;      font-size: ;}
	.sub_pages a:hover{ text-decoration:underline; color:#2f71bf;}
		
	.sub_menu_2_col {font-size:20px; text-align:center; }
	.sub_menu_2_col{text-align:center; margin:20px 0px 15px 0px;}
	 	
	.sub_menu_3_col {font-size:20px; text-align:center;}
	.sub_menu_3_col_img{text-align:center; margin:20px 0px 15px 0px;}
	 
	.sub_menu_4_col {font-size:22px; text-align:center;}
	.sub_menu_4_col_img{text-align:center; width:100%;  margin:20px 0px 15px 0px; }
	 	
		
		
		.index_blog_img{cursor:pointer; width:100%; height:200px; float:left;}
		.index_blog_img img{max-width:100%; margin:0px 0px 10px 0px;}
		
		
		.index_blog_title{}
		.index_blog_title a{  border-bottom:0px solid #000; padding:0px 0px 3px 0px;  font-size: 11pt;    line-height: 20px; color:#464646;  color:#386aa0; text-decoration:none;   }
		.index_blog_title a:hover{text-decoration:underline; color:#464646;color:#386aa0; }
		
		.index_blog_text{  font-size:12px; line-height:18px;}
		
		 

	.table_links{width:100%;}
	.table_links TR>TD{width:34%; word-wrap: break-word;}
	.table_links TR>TD+TD{width:66%;}
	
	/* VIDEOS */
.videos_img{cursor:pointer; width:100%; position:relative; min-height:200px;  background:url(/img/nophoto.png) center center no-repeat;}
img.youtube_play_img{width:48px; height:48px; cursor:pointer; position:absolute; top:50%; left:50%; margin:-24px 0px 0px -24px; -webkit-filter: grayscale(0%);}
.videos_title h3{font-size:18px !important;}		
 
			
	
	
	.pages_link_current{text-align:center; font-size:13px; width:48px; height: ; line-height:44px;	display: inline-block;	margin-right: 4px;	background: #112d4e; font-weight: 600;	text-decoration: none;	color: #fff;  			padding:3px 7px;} 
	.pages_link_blank{text-align:center; font-size:13px; width:48px; height: ; line-height:44px;	display: inline-block;	margin-right: 4px;	background: #ffffff; font-weight: 600;	text-decoration: none;	color:rgba(141,142,145,.48);padding:3px 7px;} 
		.pages_link{text-align:center;  font-size:13px; 	 width:48px; height: ; line-height:44px;	display:inline-block; 	margin-right: 4px;  background: #ffffff; font-weight: 600;	text-decoration: none;	color:rgba(141,142,145,.48);	}
		.pages_link:hover{	 	}
		.pages_link a{display:block; padding:3px 7px; text-decoration:none; color:rgba(141,142,145,.48);	}
		.pages_link a:hover{ }
			
	 
 
/******************* PHOTOS+FILES ************************/
	.files h3, .photos h3{font-size:18px; margin:10px 0px 30px 15px; font-family: GothamProBold !important;  font-size: 24px !important; color: #323c48 !important;}	
		.file{margin: 10px 30px; line-height:22px; font-size:15px; }
		.photos{margin:0px 0px 0px 0px;}
			.photo{float:left; width:150px; height:150px;  margin:0px 20px 30px 20px; }
			.photo img{ width: 150px; height: 150px; padding: 1px; background: white;}
			/*
			.gallery_photo{float:left; width:350px; height:150px;  margin:0px 20px 30px 20px; }
			
			*/
			.gallery_photo{ max-height:250px; overflow:hidden; text-align:center; }
			.gallery_photo img{ max-width: 100%; height: auto; }
			
			
			.file img{width:16px; height:16px; float:left; margin:0px 10px 0px 0px;}
		.photo_uploads{padding:10px 5px;}
		.photo_uploads img{ width: 170px; height: 170px;}
		
				 				
/*NOTIFICATORS*/
	.notifier_info, .notifier_warning, .notifier_error, .notifier_success{ padding:15px 20px 15px 70px; margin:10px 0px; }
	.notifier_info{background:#d1e4f3 url(/img/notifier/info.png) 20px center no-repeat; border:1px solid #4d8fcb;}
	.notifier_warning{background:#ffe9ad url(/img/notifier/warning.png) 20px center no-repeat; border:1px solid #fab418; }
	.notifier_error{background:#fccac1 url(/img/notifier/error.png) 20px center no-repeat; border:1px solid #eb5439; }
	.notifier_success{background:#effeb9 url(/img/notifier/success.png) 20px center no-repeat; border:1px solid #98c700; }
	
	.notifier_title{font-weight:bold; font-size:; color:#565656;}
	.notifier_text{ color:#565656;  line-height:20px; font-size:14px; }
	.notifier_text ul{list-style:none; padding:0px; margin:5px 0px 5px 35px;}
	.notifier_text ul li{padding:0px 0px 0px 15px; background:url(/img/after.png) left center no-repeat;}

	 
	.notifier_mini_info, .notifier_mini_warning, .notifier_mini_error, .notifier_mini_success{ padding:5px 5px 5px 50px; font-size:12px; }
	.notifier_mini_info{background:#d1e4f3 url(/img/notifier/info.png) 10px center no-repeat; border:1px solid #4d8fcb;}
	.notifier_mini_warning{background:#ffe9ad url(/img/notifier/warning.png) 10px center no-repeat; border:1px solid #fab418; }
	.notifier_mini_error{background:#fccac1 url(/img/notifier/error.png) 10px center no-repeat; border:1px solid #eb5439; }
	.notifier_mini_success{background:#effeb9 url(/img/notifier/success.png) 10px center no-repeat; border:1px solid #98c700; }
	.notifier_text_mini{ color:#565656;  line-height:16px; }


iframe{max-width:100%;}
  

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #2f71bf;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
	font-family: GothamProBold;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #386aa0;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.topnav_active {
  background-color: #386aa0;
  color: white;
}
 

.slider_item_content{padding:0px 30px; position:relative}
 			 
#head_phone{z-index:100; position:absolute; top:22px; right:15px; background:url(/img/head_phone.png) center center no-repeat; background-size:15px 26px; width:20px; height:26px;}

.mob_menu{text-align:center; position:absolute; left:15px; top:22px; border: 2px solid #2f71bf; width:32px; height:32px; display: flex;    font-size: 8px; }
.mob_menu span { font-style: normal; font-weight:300; position: absolute;    top: 50%;  left:25%;   margin-top: -1px; background-color: #000;    display: block; width: 14px;     height: 1px;}
.mob_menu span:first-child {   -webkit-transform: translateY(-4px);transform: translateY(-4px);}
.mob_menu span:last-child {    -webkit-transform: translateY(4px);    transform: translateY(4px);}

#mob_menu{display:none;}
#navtoggler{   z-index:100; position:absolute; left:15px; top:25px; border: 0.6em solid #acbbc3; border-width: 0.5em 0;  border-radius:3px; z-index: 9;  display: block;   font-size: 8px;  width: 3.5em;  height: 2.5em;   text-indent: -1000px;   cursor: pointer;}
#navtoggler::before{  border: 2px solid #2f71bf;  content: '';  display: block;  position: absolute;  width: 100%;  height: 0.6em;   margin-top: -0.3em;  left: 0;  background: #acbbc3; top: 50%;} 


#head_phone{position:absolute; top:22px; right:15px; background:url(/img/head_phone.png) center center no-repeat; background-size:15px 26px; width:20px; height:26px;}
.mob_site_title{font-weight:700; color:#1c537a; font-size:20px; text-transform: ; padding:0px 15px 0px 15px;}
.fancy_fullscreen{border-radius:0px !important;}


#index_videos, #index_galleries, #index_news{position:relative;}
.index_tabs{position:relative;}
.index_tabs_link {text-align:center;}
.index_tabs_link a{text-decoration:none; color:#000; font-size:12px; font-weight:600;}

.calendar_popup_content{background:#edf3fa;}
.fancybox-content{padding:15px;}

@media (max-width: 767px) { 													/* XS */
	.head_content{height:77px; overflow: ; padding-top:12px;}
	.head_content_text{padding:0px;}
	.head_content_text h2{font-size:12px; font-weight:400;}
	.head_content img.logo{height:50px; margin:0px 15px 16px;}
	.head_social{display:none;}
	.head_search{border:0px;}
	.head_lang{width:32px; height:32px; line-height: 32px; font-weight:400; font-size:10px;}
	.navigation-social{width: 2rem;     height: auto;}
	.head_content_icons {margin:10px 20px 0px 0px ;}
	.head_search{padding:0 2rem; width:auto;}
	.menu{height:74px;}
	.menu_content{    padding: 0px 15px;}
	.head_search_form input{width:235px;}
	.menu_contacts_text{font-size:12px;}
	.menu_contacts_number {font-size: 24px; line-height:24px;}
	.menu_contacts_number a{font-size: 24px; line-height:24px;}
	
	.slider_item_content{padding:0px;}
	.slider_title {padding-left:15px;}
	.slider_title h2 a{font-size: 32px; line-height:36px;}
	.slider_sticker{font-size:8px; height:20px; line-height:20px; left:15px;}
	.slider_button{height:40px; line-height:40px; font-size:12px; margin-left:15px;}
	.slider_img{height:250px; min-height:auto;}
	
	.index_tab{float:none; padding-bottom:8px; font-size:20px; margin:0px 15px; }
	.index_tab_active{ margin-bottom:10px;}
	.index_tab_unselected{display:none;  }
	.index_tab_arrow{		content: "";		display: block;		background-image: url(/img/tab_arrow.svg);		width: 8px;		height: 5px;		position: absolute;		right: 18px;		top: 18px;		margin: auto;		-webkit-transition: -webkit-transform .3s;		transition: -webkit-transform .3s;		transition: transform .3s;		transition: transform .3s,-webkit-transform .3s;	}

	.right_tab{padding:0px;}
	.left_tab{padding:0px;}
	.xs_p0{padding:0px;}
	
	.index_about_block_title{font-size:32px; font-weight:600; line-height:36px;}
	.index_about_block_content { padding: 30px 15px;}
	.index_about_block_text{font-size:13px; line-height:17px;}
	
	.index_about_link{width:100%; border-bottom: 2px solid #000; font-size:30px;   color:#8d8e91; }	 
	.index_m_about .slider_button{margin-left:0px;}
	.index_about_link_active{color:#000;}
	.index_about_heroes_title{font-size:14px;}
	.links_bg{padding:20px 0px 30px 0px;}
	.link_title{font-size:12px; line-height:18px;}
	.links_title{font-size:38px; line-height:42px;}
	.links_bg .owl-prev, .links_bg .owl-next{width:32px; height:32px;}
	.links_bg .owl-prev svg, .links_bg .owl-next svg{width:12px; height:12px;}
	.owl-nav{right:-5px;}
	.footer_rights{font-size:10px;}
	.footer_menu_title{  font-size:18px; font-weight:700; padding: 2rem 0; border-bottom: 1px solid #263f5e;}
	.index_main_news_date{padding-top:15px;}
	.sub_pages_rel_exit svg{   margin-left: 1.7rem; }
}
@media (min-width: 768px) and (max-width: 977px) {								/* SM */
	 .head_content{height:84px; overflow: ; padding-top:12px;}
	.head_content_text{padding:0px;}
	.head_content_text h2{font-size:16px; font-weight:400;}
	.head_content img.logo{height:50px; margin:3px 15px 16px 15px;}
	.head_social{display:none;}
	.head_search{border:0px;}
	.head_lang{width:48px; height:48px; line-height: 48px; font-weight:400; font-size:12px;}
	.navigation-social{width: 32px;     height: auto;}
	.head_content_icons {margin:5px 20px 0px 0px ;}
	.head_search{padding:0 2rem; width:auto;}
	.menu{height:78px;}
	.menu_content{    padding: 0px 15px;}
	.head_search_form input{width:220px;}
	.menu_contacts_text{font-size:12px;}
	.menu_contacts_number {font-size: 24px; line-height:24px;}
	.menu_contacts_number a{font-size: 24px; line-height:24px;}
	
	.slider_item_content{padding:0px;}
	.slider_title {padding-left:15px;}
	.slider_title h2 a{font-size: 40px; line-height:46px;}
	.slider_sticker{font-size:8px; height:20px; line-height:20px; left:15px;}
	.slider_button{height:44px; line-height:44px; font-size:12px; margin-left:15px;}
	.slider_img{height:400px; min-height:auto;}
	 
	.index_tab{margin:0px 15px; padding-bottom:15px; font-size: 22px;} 
	.index_tabs_link{position:absolute; top:-90px; right:15px;}
	.index_tab_unselected{display:block !important;}
	 
	.right_tab{padding:0px;}
	.left_tab{padding:0px;} 
	
	.index_about_block_title{font-size:32px; font-weight:600; line-height:36px;}
	.index_about_block_content { padding: 30px 25px;}
	.index_about_block_text{font-size:13px; line-height:17px;}
	
	.index_about_link{width:100%; border-bottom: 2px solid #000; font-size:30px;   color:#8d8e91; }	 
	.index_m_about .slider_button{margin-left:0px;}
	.index_about_link_active{color:#000;}
	.index_about_heroes_title{font-size:14px;}
	.links_bg{padding:20px 0px 30px 0px;}
	.link_title{font-size:12px; line-height:18px;}
	.links_title{font-size:38px; line-height:42px;}
	.links_bg .owl-prev, .links_bg .owl-next{width:40px; height:40px;}
	.links_bg .owl-prev svg, .links_bg .owl-next svg{width:16px; height:16px;}
	.owl-nav{right:0px;  margin-top:40px !important;}
	.footer_rights{font-size:10px;}
	.footer_menu_title{   }
	
	.index_main_news_date{padding-top:15px;}
	
	.sm_p0{padding:0px;}
	
	
	.mob_menu{width:48px; height:48px; left:15px; top:15px;}
	 
	.mob_menu span {   width: 22px;     height: 2px;}
	.mob_menu span:first-child {   -webkit-transform: translateY(-6px);transform: translateY(-6px);}
	.mob_menu span:last-child {    -webkit-transform: translateY(6px);    transform: translateY(6px);}

	.left_navigation{padding-left:30px;}
}
@media (min-width: 978px) and (max-width: 1199px) {								/* MD */
	 .menu_content ul.menu_desktop li a{font-size:12px; line-height:67px;  padding: 0px 16px;}
	 .menu{height:67px;}
	 .menu_contacts_text{font-size:12px;}
	 .menu_contacts_number {line-height:24px; }
	 .menu_contacts_number a{font-size:24px; }
	 
	 .head_content h2{font-size:20px;}
	.index_tab_unselected{display:block !important;}
	.index_tabs_link{position:absolute; top:-100px; right:15px;}
	
	.slider_title h2 a{font-size: 40px; line-height:44px;}
	.slider_sub_title{font-size:12px;}
	.slider_sticker{font-size:12px; height:28px; line-height:28px;}
	.md_p0{padding:0px;}
	.index_about_block_content { padding: 40px 40px;}
	.index_main_news_date{padding-top:15px;}
	.owl-nav{right:5px;}
	
	.left_navigation{padding-left:30px;}
}
@media (min-width: 1200px) {													/* LG */
	.right_tab{padding: 0px 0px 0px 30px;} 
	.index_tabs_link{position:absolute; top:-100px; right:15px;}
	.index_tab_unselected{display:block !important;}
	.pl_lg_30{padding-left:30px !important;}
	.index_main_news_img img{margin-top:-10px;}
}








































