[Unit]
Description=Renews tokens
Wants=tokenRenew.timer

[Service]
Type=oneshot
ExecStart=/usr/local/bin/generateTokens

[Install]
WantedBy=multi-user.target
